.footer {
    height: 70vh;
    background-color: black;
    color: rgb(247, 244, 244);
    font-weight: 600;
    font-size: 1.3rem;
    padding: 6rem 4rem;

    @include respond (phone) {
        height: 116vh;
    }

    &__text {
        @include respond (phone) {
            margin-top: 2.5rem;
        }
    }

    &__row {
        border-bottom: 1px solid $light;
        padding-bottom: 5rem;

        @include respond (phone) {
            padding-bottom: 6rem;
        }
    }

    &__left {
        color: rgb(126, 122, 122);
        float: right;
        padding: 4rem 0;
        font-weight: 600;
        font-size: 1.7rem;

        @include respond (phone) {
            text-align: center;
            padding: 3rem 0;
        }

        &--row {
            @include respond (phone) {
                display: none;
            }
        }

        &--right {
            float: right;
            font-weight: 600;
            font-size: 1.5rem;

            @include respond (phone) {
                text-align: center;
            }

        }
    }

    &__h4 {

        line-height: .9;
    }
}

.contact {
    @include respond (phone) {
        margin-bottom: 2rem;
    }

}




li {
    list-style: none;
}

.directions {
    color: $light;
    font-weight: 400;

    &:hover {
        color: $light;
    }
}